/*.hide {
    display: none;
}*/

header {
    background-color: #675682;
    background-image: url(./img/circuitHeader.png);
    height: 130px;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.validatorTDC {
    font-size: 3em;
    /* em es relativo al tamaño de la lera */
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #333333;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.verify {
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #333333;
}

.card {
    width: 399px;
    height: 262px;
    background: rgba(219, 55, 115, 0.9);
    background-image: url(./img/card.png);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    background-position: center;
}

.tdcNumber {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.333333px;
    color: #0e0d0d;
}

.cardNumber {
    width: 406px;
    height: 47px;
    background: rgba(196, 196, 196, 0.3);
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 41px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #000000;
}

.expiration {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

.month {
    height: 38px;
    font-size: 18px;
    background: rgba(196, 196, 196, 0.3);
    border: 1px solid #333333;
    border-radius: 8px;
}

.footer {
    background-color: #675682;
    height: 70px;
    width: 100%;
}