header {
  background-color: #675682;
  background-image: url(./img/circuitHeader.png);
  height: 130px;
  width: 100%;
  display: flex;
}

.logo {
  width: 20%;
}

header nav {
  width: 80%;
  display: grid;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
}

header li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  color: #FDF6E0;
  width: 20%;
  height: 100%;
  padding: 20px;
  text-align: center;
  padding: 10px 5px 30px;
  max-height: 19px;
  font-weight: bold;
}

header li:hover {
  background-color: #00A993;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}


body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

#mainScreen,
#messageScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.sidebar {
  width: 20%;
  background: #862F73;
}

.content {
  width: 80%;
}

.validatorTDC {
  font-size: 3em;
  /* em es relativo al tamaño de la lera */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: -0.333333px;
  color: #333333;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 30px;
}

.verify {
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: -0.333333px;
  color: #333333;
}

@font-face {
  font-family: halter;
  src: url(./font/HALTER__.ttf);
}

.card {
  width: 400px;
  height: 262px;
  background: rgba(219, 55, 115, 0.9);
  background-image: url(./img/card.png);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  background-position: center;
}

.img-card {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
}

.chip {
  width: 15%;
  margin-left: 5%;
  margin-top: 7%;
}

.logo-card {
  width: 26%;
  margin-right: 5%;
  margin-top: 3%;
}

.tdcNumber {
  font-weight: bold;
  font-size: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -0.333333px;
  color: #0e0d0d;
  margin-top: 1%;
  margin-left: 8%;
  margin-bottom: 2%;
}

::placeholder {
  color: #333333;
}

.cardNumber {
  width: 84%;
  height: 16%;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 1.3em;
  /*130%*/
  text-align: center;
  color: #000000;
  margin-left: 8%;
  font-family: halter, sans-serif;
}

.expiration {
  font-weight: bold;
  font-size: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  letter-spacing: -0.333333px;
  margin-top: 2%;
  margin-left: 8%;
  margin-bottom: 2%;
}

.month {
  height: 15%;
  font-size: 100%;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #333333;
  border-radius: 8px;
  margin-left: 8%;
}

.year {
  height: 15%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  font-weight: bold;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #333333;
  border-radius: 8px;
  margin-left: 2%;
}

.buttons {
  width: 8em;
  height: 4em;
  background: #00A993;
  border-radius: 30px;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -0.333333px;
  color: #FDF6E0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: normal;
  margin-top: 4%;
  margin-bottom: 4%;
  border: none;
}

.buttons:hover {
  background-color: #675682;
  cursor: pointer;
  font-weight: bold;
}


#messageTooUser {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -0.333333px;
  color: #333333;
  text-align: center;
}

#hiddenCard {
  padding: 1%;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #333333;
  border-radius: 8px;
  font-family: halter, sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

#message {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -0.333333px;
  color: #333333;
}

footer {
  bottom: 0;
  padding: 3% 0;
  background-color: #675682;
  background-image: url(./img/circuitFooter.png);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FDF6E0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

footer nav {
width: 30%;
margin-left: 10%;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 3%;
  padding-left: 0%;
}

footer li {
  list-style: none;
}

footer li:hover {
  cursor: pointer;
  font-weight: bold;
}

.img-footer {
  width: 16%;
}

.img-footer img {
  margin-left: 3%;
}

.copyright {
  width: 30%;
}

footer p {
  margin-top: 0%;
  padding-top: 3%;
}

.hide {
  display: none !important;
}


@media only screen and (max-width:600px) {
  header nav {
    display: none;
  }
  .sidebar {
    display: none;
  }
  footer {
    flex-direction: column;
  }
}