body {
  margin: 0;
  padding: 0;
  font-family: 'Graphik-Regular', 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*  PARA ELIMINAR FLECHITAS A INPUT NUMBER
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; } */

ul {
  padding-left: 0;
}

header {
  background-image: url(./img/circuit.png);
  height: 130px;
  width: 100%;
  display: flex;
}

.logo {
  width: 20%;
  cursor: pointer;
}

header nav {
  width: 80%;
  display: grid;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
}

header li {
  list-style: none;
  color: #FDF6E0;
  width: 20%;
  height: 100%;
  padding: 20px;
  text-align: center;
  padding: 10px 5px 30px;
  max-height: 19px;
  font-weight: bold;
}

header li:hover {
  background-color: #00A993;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

main {
  display: flex;
}

#mainScreen,
#messageScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.sidebar {
  width: 20%;
  background: #862F73;
  color: #FDF6E0;
}

.content .btn-menu span {
  display: inline-block;
  cursor: pointer;
  font-size: 2.5em;
  color: #333333;
  margin-left: 2%;
  margin-top: 1%;
}

.sidebar ul {
  margin: 0;
}

.sidebar ul li {
  list-style: none;
  padding: 28px;
  border-bottom: 1px solid #FDF6E0;
}

.sidebar ul li:last-child {
  border-bottom: none;
}

.sidebar ul li:hover {
  background-color: #00A993;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

.content {
  width: 80%;
}

.validatorTDC {
  font-size: 3em;
  /* em es relativo al tamaño de la lera */
  text-align: center;
  letter-spacing: -0.333333px;
  color: #333333;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1% 10%;
}

.verify {
  font-size: 1.75em;
  text-align: center;
  letter-spacing: -0.333333px;
  color: #333333;
}

@font-face {
  font-family: halter;
  src: url(./font/HALTER__.ttf);
}

.card {
  min-height: 262px;
  max-width: 400px;
  width: 400px;
  height: 262px;
  background: rgba(219, 55, 115, 0.9);
  background-image: url(./img/card.png);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  background-position: center;
}

.img-card {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
}

.chip {
  width: 15%;
  margin-left: 5%;
  margin-top: 4%;
}

.logo-card {
  width: 20%;
  margin-right: 10%;
  margin-top: 5%;
}

.tdcNumber {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.333333px;
  color: #0e0d0d;
  margin-top: 1%;
  margin-left: 8%;
  margin-bottom: 2%;
}

::placeholder {
  color: #333333;
}

.cardNumber {
  width: 84%;
  height: 16%;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 1.3em;
  /*130%*/
  text-align: center;
  color: #0e0d0d;
  margin-left: 8%;
  font-family: halter, sans-serif;
}

.expiration {
  font-weight: bold;
  font-size: 14px;
  color: #0e0d0d;
  letter-spacing: -0.333333px;
  margin-top: 2%;
  margin-left: 8%;
  margin-bottom: 2%;
}

.month {
  height: 15%;
  font-size: 0.95em;
  font-weight: bold;
  color: #0e0d0d;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #333333;
  border-radius: 8px;
  margin-left: 8%;
}

.year {
  height: 15%;
  font-size: 0.95em;
  font-weight: bold;
  color: #0e0d0d;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #333333;
  border-radius: 8px;
  margin-left: 2%;
}

.buttons {
  width: 8em;
  height: 4em;
  background: #00A993;
  border-radius: 30px;
  font-size: 1em;
  letter-spacing: -0.333333px;
  color: #FDF6E0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: normal;
  margin-top: 4%;
  margin-bottom: 4%;
  border: none;
}

.buttons:hover {
  background-color: #675682;
  cursor: pointer;
}


#messageTooUser,
#message {
  font-size: 1.75em;
  letter-spacing: -0.333333px;
  color: #333333;
  text-align: center;
}

#hiddenCard {
  padding: 1%;
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #333333;
  border-radius: 8px;
  font-family: halter, sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  color: #0e0d0d;
}

footer {
  bottom: 0;
  padding: 3% 0;
  background-color: #211E1F;
  background-image: url(./img/circuit.png);
  color: #FDF6E0;
  width: 100%;
}

footer nav {
}

footer ul {
 
}

footer li {
}

footer li:hover {
  cursor: pointer;
  font-weight: bold;
}

.rrss {
  width: 25%;
  color: rgb(245, 245, 245);
}

.rrss svg {
  margin-left: 3%;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.copyright {
  width: 30%;
}

footer p {
  margin-top: 0%;
  padding-top: 3%;
}

.hide {
  display: none !important;
}


@media only screen and (max-width:600px) {

  header nav {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .content {
    width: 100%;
  }

  header {
    background-color: #675682;
    background-image: url(./img/circuit.png);
    width: 100%;
    height: 90px;
    display: flex;
  }

  .logo img {
    height: 80px;
    margin-top: 4px;
    cursor: pointer;
  }

  .content .btn-menu span {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5em;
    color: #333333;
    margin-left: 2%;
    margin-top: 1%;
  }

  .validatorTDC {
    font-size: 2em;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #333333;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0% 10%;
  }

  .verify {
    font-size: 1.2em;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #333333;
  }

  .card {
    width: 85%;
    height: 200px;
    background: rgba(219, 55, 115, 0.9);
    background-image: url(./img/card.png);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    background-position: center;
  }

  .img-card {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-left: 4%;
  }

  .chip {
    width: 15%;
    margin-left: 5%;
    margin-top: 4%;
  }

  .logo-card {
    width: 18%;
    margin-right: 4%;
    margin-top: 5%;
  }

  .tdcNumber {
    font-weight: bold;
    font-size: 70%;
    letter-spacing: -0.333333px;
    color: #0e0d0d;
    margin-top: 1%;
    margin-left: 9%;
    margin-bottom: 2%;
  }

  .cardNumber {
    width: 80%;
    height: 16%;
    background: rgba(196, 196, 196, 0.3);
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 1em;
    text-align: center;
    color: #0e0d0d;
    margin-left: 9%;
    font-family: halter, sans-serif;
  }

  .expiration {
    font-weight: bold;
    font-size: 70%;
    color: #0e0d0d;
    letter-spacing: -0.333333px;
    margin-top: 2%;
    margin-left: 9%;
    margin-bottom: 2%;
  }

  .month {
    height: 15%;
    font-size: 80%;
    font-weight: bold;
    color: #0e0d0d;
    background: rgba(196, 196, 196, 0.3);
    border: 1px solid #333333;
    border-radius: 8px;
    margin-left: 9%;
  }

  .year {
    height: 15%;
    font-size: 80%;
    font-weight: bold;
    color: #0e0d0d;
    background: rgba(196, 196, 196, 0.3);
    border: 1px solid #333333;
    border-radius: 8px;
    margin-left: 2%;
  }

  .buttons {
    width: 26%;
    height: 3.6em;
    background: #00A993;
    border-radius: 30px;
    font-size: 80%;
    letter-spacing: -0.333333px;
    color: #FDF6E0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: normal;
    margin-top: 8%;
    margin-bottom: 8%;
    border: none;
  }

  #messageTooUser,
  #message {
    font-size: 1.2em;
    letter-spacing: -0.333333px;
    color: #333333;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #hiddenCard {
    width: 80%;
    font-size: 1.1em;
    overflow: scroll;
  }

  footer {
  }
}
